body {
    font-family: 'Inter', sans-serif;
}
.view {
    display: none;
    animation: fadeIn 0.5s;
}
.view.active {
    display: block;
}
#review-list {
    max-height: 16em;
    overflow: auto;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
.custom-focus-ring:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(96, 165, 250, 0.6);
}
.modal {
    display: none;
    animation: fadeIn 0.3s;
}
.modal.active {
    display: flex;
}
.modal-body {
    max-height: 80vh;
    overflow: auto;
}
.input-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Toggle Switch CSS */
.switch { position: relative; display: inline-block; width: 60px; height: 34px; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; transition: .4s; border-radius: 34px; }
.slider:before { position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; transition: .4s; border-radius: 50%; }
input:checked + .slider { background-color: #2563eb; }
input:focus + .slider { box-shadow: 0 0 0 1.5px black; }
input:checked + .slider:before { transform: translateX(26px); }
