@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
}
.view {
    display: none;
    animation: fadeIn 0.5s, swipeIn 0.5s;
}
.view.active {
    display: block;
}
#review-list {
    max-height: 16em;
    overflow: auto;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes swipeIn {
    from { transform: translateY(10px); }
    to { transform: translateY(0); }
}
@keyframes swipeOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
}
.custom-focus-ring:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(96, 165, 250, 0.6);
}
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    animation: fadeIn 0.3s;
}
.modal.active {
    display: block;
}
.modal[aria-hidden="true"] {
    animation: fadeOut 0.5s;
}
.modal-body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh; /* Prvents scrolling when modal fits in mobile browsers with address bar */
}
.modal-body {
    overflow: auto;
    animation: swipeIn 0.3s;
}
.modal[aria-hidden="true"] .modal-body {
    animation: swipeOut 0.5s;
}
.close-btn {
    font-size: 1.5rem;
    padding: 0 0.5rem;
}
.close-btn:before { content: "\2715"; }

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Toggle Switch CSS */
.switch { position: relative; display: inline-block; width: 60px; height: 34px; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; transition: .4s; border-radius: 34px; }
.slider:before { position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; transition: .4s; border-radius: 50%; }
input:checked + .slider { background-color: #2563eb; }
input:focus + .slider { box-shadow: 0 0 0 1.5px black; }
input:checked + .slider:before { transform: translateX(26px); }
